<div class="row">
	<div class="col-5">
		<h2 class="display-4">Find out how long it fucking takes you to go from 
			<%= results.origin_addresses %>
		 to 
			<%= results.destination_addresses %></h2>
	</div>

	<div class="col-3">
		<p>If your travel mode is:</p>
			<p><span class="highlight"><%= travel %></span></p>
			<p>it will take you</p>
			<p><span class="highlight"><%= results.rows[0].elements[0].duration.text %></span></p>
			<p>to get there.</p>
	</div>

	<div class="col-4">
		<form action="/" method="GET" role="search" name="q">
<!-- 			<div class="form-row"> -->
				<div class="col">
					<input type="text" class="form-control header-search" placeholder="e.g. Seattle, WA" name="q">
				</div>
				<div class="col">
					<input type="text" class="form-control header-search" placeholder="e.g. Portland, OR" name="z">
				</div>
<!-- 			</div> -->

<!-- 			<div class="form-row"> -->
				<div class="col">
					<select class="custom-select" name="travel">
					  <option selected>Choose Your Travel Mode:</option>
					  <option value="bicycling" id="bicylcing">Bicycle</option>
					  <option value="driving">Driving</option>
					  <option value="walking">Walking</option>
					</select>
				</div>
				<div class="col">
					<button type="submit" class="btn header-submit">Search</button>
				</div>
<!-- 			</div> -->
			</div>
		</form>
	</div>
</div>